<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type">
    <title>金革，省钱又赚钱的金融工具</title>
    <meta name="Description" content="" />
    <meta name="author" content="金革，省钱又赚钱的金融工具" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="mobileOptimized" content="width">
    <meta name="handheldFriendly" content="true">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="/webapp/m/hybrid/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/webapp/m/hybrid/dist/css/hy.css">
    <script type="text/javascript" src="/webapp/m/hybrid/dist/libs/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/webapp/m/hybrid/dist/libs/js/angular.min.js"></script>
    <script type="text/javascript" src="/webapp/m/hybrid/dist/libs/js/mobile-angular-ui.min.js"></script>
    <script type="text/javascript" src="/webapp/m/hybrid/dist/libs/js/jsencrypt.min.js"></script>
    <script type="text/javascript" src="/webapp/m/hybrid/dist/libs/js/ng-infinite-scroll.min.js"></script>
    <script type="text/javascript" src="/webapp/m/hybrid/dist/js/hy.js"></script>
</head>
<body ng-app="myApp">
<div ng-controller="mortgageController" class="hybrid">
    <div style="width:100%;float:left;">
        <div id="cNodes">
        </div>
        <div class="mort-cont mrt-45">
            <ul id="wrapper" infinite-scroll='loadMore()'>
                <li ng-repeat="mor in mortList track by $index" id="{{mor.id}}" ng-click="mortgage(mor)">
                    <div class="mort-div">
                        <p class="mort-p0"><abbr class="abbr-0">{{mor.p_name}}</abbr><abbr class="abbr-1" increment-number incnum="mor.inv_num"></abbr>人申请/
                            <abbr class="abbr-2" increment-number incnum="mor.rate_lev | number:2"></abbr>分</p>
                        <div class="mort-box-list">
                            <div class="mort-icon">
                                <img ng-src="{{mor.pic}}" width="100%" height="100%"/>
                            </div>
                            <div class="mort-center">
                                <div class="mort-left">
                                    <p class="mrt0">{{mor.min_rate}}%</p>
                                    <p class="mrt1">预期利率/月</p>
                                </div>
                                <div class="mort-right">
                                    <p class="mrt2">1分钟申请，快速审核</p>
                                    <p class="mrt3">参考额度：<abbr ng-bind="mor.min_limit"></abbr><abbr>-</abbr><abbr
                                            ng-bind="mor.max_limit"></abbr>万</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="more"><i class="pull_icon"></i><span>上拉加载</span></div>
        </div>
    </div>
    <div class="loads app-content-loading">
        <i class="fa fa-spinner loading loading-spinner"></i>
    </div>
    <div class="refer-bottom">
        <div class="refer-icon-left">
            <a href="tel:{{homeMort.tel}}">
                <div class="consult-icon"><img src="/webapp/m/hybrid/img/mortgage/mort@0.png" width="100%" height="100%"/></div>
                <p class="consult-p">联系客服</p>
            </a>
        </div>
        <div class="refer-icon-right" ng-click="mortHomeClick();">
            帮我选贷
        </div>
    </div>
</div>
<script>
    /*<![CDATA[*/
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?8f1a760c5bc7050f6dafbb0e9bb78d2d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    /*]]>*/
</script>
</body>
</html>